@charset 'UTF-8';

:root {
    --cor01: #c5e6f3d0;
    --cor02: #07203f;
    --cor03: #093978c5;
    --cor04: #D9B70D;
    --cor05: #BF8D30;
    --font1: "Bebas Neue", sans-serif;
    --font2: "Patrick Hand SC", cursive;
      }

* {
margin: 0;
padding: 0;
width: 100vh;
}

body {
    font-family: var(--font2);
    font-size: 3em;
    background-color: var(--cor01);
}

header {
    padding: 10px;
    background-image: url('imagens/fundo2.jpeg');
    background-position: center center;
    background-repeat: no-repeat;      
    background-size: cover;     
    border-radius: 15px;
    color: var(--cor04);
    text-align: center;
    text-indent: 2em;
    font-size: 35px;         
}

main {
    text-align: center;
    font-family: var(--font2);
    color: var(--cor02);
    font-size: 18px;

}

     
#tt1 {
  
    font-weight: bold;
    font-family:var(--font1);
    
    text-shadow: 3px 2px #BF8D30;
    color: var(--cor04);
    font-size: 150px;

}

#t01 {
    margin: 10px;
    padding: 10px;
    position: center top;
    width: 100vh;
}

h1,h2 {
    color: var(--cor05);
    width: 100vh;
}

p {
    color: var(--cor02);
}

       
#m01 {
    list-style-position: inside;
    position: center;
    columns: 3;
}

#m2 {
    columns: 3;
    list-style-position: inside;
    position: center;
    
    
}

#md02 {
    columns: 3;
    list-style-position: inside;
    position: center;
  
}

#df01 {
    columns: 3;
    
    list-style-position: inside;
    position: center;
    
}

#df02 {
    columns: 3;
    list-style-position: inside;
    position: center;
    border-radius: 10px;

}

#f1 {
    font-style: var(--font2);
    color: white;
    text-align: center;
    text-decoration: none;

    background-color: #2D4B73;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--cor02);
}



li {
    color: var(--cor03);
    text-decoration: none;
}
a:visited {
    color: black;
}


img {
    background-size: cover;     
    border-radius: 70%;

}

footer > a {
    color: white;
}

footer a:visited {
    color: white;
    text-align: center;
    text-indent: 1.2em;
   
}
