@charset "UTF-8";

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

header {
    background-color: black;
    color: white;
    text-align: center;

}

head > h1 {
    padding-top: 50px;
    font-variant: var(--fonte2);
    font-size: 10vw;

}

h1 {
    font-family: var(--font1);
    font-size: 10vw;
}

p {
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}